/* Change the background color of the page body */
body {
    background-color: #89b694;
  }
  
  /* Change the default text color */
  body {
    color: #eceaea;
  }
  
  /* Define the font family for the entire page or just a section */
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Add spacing (padding/margin) between sections */
  section {
    padding-right: 10px;
    margin-bottom: 10px;
  }
  
  /* Change the font size, weight, and color of all headings */
  h1, h2, h3, h4, h5, h6 {
    font-size: 28px;
    font-weight: bold;
    color: #232222;
  }
  
  /* Transform the "Experience" list items into styled blocks */
  ul.experience {
    list-style: none;
    padding: 3px;
    margin: 3px;
  }
  ul.experience li {
    border: 4px solid #d3d1d1;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  /* Transform the "Skills" list items into styled blocks */
  #skills li {
    display: inline-block;
    padding: 1px;
    padding-left: 2px;  
    background-color: #5c5c5c;
    border: 1px solid #000000;
    margin-bottom: 5px;
  }
  
  
  /* Style the "Leave a Message" form elements */
  form label {
    font-size: 18px;
    color: #333333;
  }
  form input, form textarea {
    font-size: 18px;
    padding: 10px;
    border: 1px solid #CCCCCC;
    margin-bottom: 10px;
  }
  form button[type="submit"] {
    padding: 10px;
    background-color: #333333;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
  }
  
  /* Transform the "Messages" list items into styled blocks and customize the remove button 
  ul.messages {
    list-style: none;
    padding: 2px;
    margin: 2px;
  }  */
  #messages li {
    border: 1px solid #CCCCCC;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
  }
  #messages li button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #0e0d0d;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 5px;
  }
  
  /* Change the spacing and background color of the footer */
  footer {
    padding: 15px;
    background-color: #707070;
  }
  